<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T6Q4WZ3BWT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-T6Q4WZ3BWT');
    </script>
</head>
<body>
    <div id="root"></div>
</body>
</html>